<!doctype html>
	<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<title>AngularJS Google Plus Sign-in Button Directive</title>
		<meta name="description" content="A directive for AngularJS to provide a Google Plus Sigin-in Button">
		<link href="//netdna.bootstrapcdn.com/bootswatch/2.3.0/cerulean/bootstrap.min.css" rel="stylesheet">
	</head>
	<body class="container">
		<h2>Logowanie</h2>
		<div class="row">
			<div class="span6" ng-app="ExampleSigninApp">
				<div ng-controller="ExampleCtrl">
					<google-plus-signin clientid="620125449078-4jo21sf1ltlb81o5cbke4sic3ogoo3gm"></google-plus-signin>
					<p>^ This is a Google Plus sign-in button</p>
				</div>
			</div>
		</div>
		<hr>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
		<script src="google-plus-signin.js"></script>
		<script>
			angular.module('ExampleSigninApp', ['directive.g+signin'])
			.controller('ExampleCtrl', function ($scope) {
				$scope.$on('event:google-plus-signin-success', function (event, authResult) {
	          // User successfully authorized the G+ App!
	          console.log('Signed in!');
	      });
				$scope.$on('event:google-plus-signin-failure', function (event, authResult) {
	          // User has not authorized the G+ App!
	          console.log('Not signed into Google Plus.');
	      });
			});
		</script>
	</body>
</html>